body{
    margin:0;
    padding:20px;
    background:#111;
    color:#fff;
    text-align:center;
    font-family:sans-serif;
}

h1{
    color:#ff4da6;
}

.container{
    max-width:900px;
    margin:auto;
}

#player{
    margin:20px auto;
}

.buttons{
    margin-top:20px;
}

button{
    padding:12px 24px;
    margin:5px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}

#startBtn{
    background:#ff4da6;
    color:white;
}

#answerBtn{
    background:#2196f3;
    color:white;
}

#nextBtn{
    background:#4caf50;
    color:white;
}

#answer{
    margin-top:20px;
    font-size:28px;
    color:gold;
    font-weight:bold;
}